/* Container */


.register-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(230, 226, 171, 0.4); */
  background-image: url('../assets/43060.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  z-index: -1;
}

.form-container {
  color:#297BBE;
    max-width: 400px;
    /* margin: 100px auto; */
    margin-top: 20%;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(16, 16, 16, 0.2);

  }
  
  /* Title */
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
   
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Labels */
  /* .form-group label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
  }
   */
  /* Inputs */
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdede;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  
  /* Error Messages */
  .error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }
  
  /* Button */
  .form-button {
    width: 100%;
    padding: 10px;
    background-color:#297BBE;
    color: #cfe3f7;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #3073b1;
  }
  .to-login{
    margin-top: 10px;
  }
  